
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 120px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  
}


.logo{
  font-size: 25px;
  color: rgb(4, 243, 4);
  text-decoration: none;
  font-weight: 600;
}

nav a{
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}


nav a:hover,

nav a.active {
  color: rgb(4, 243, 4);
}

section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2a2a2a;
}

section:nth-child(odd){
  background: #313131;
}

.form-label{
  color: rgb(17, 19, 18);
}

.mi-boton-personalizado {
  background-color:  rgb(4, 243, 4); /* Cambia este valor al color que desees */
  border-color:  rgb(4, 243, 4); /* Cambia este valor al color que desees */
  border-radius: 20px;
  color: rgb(17, 19, 18); /* Cambia este valor al color que desees */
}

.sectionContacto{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background: #2a2a2a;
}